<div class="container-fluid d-flex justify-content-center align-items-center container100">
  <div class="card shadow text-center p-5">
      <div class="card-body">
          <div class="mb-4">
              <a class="navbar-brand" [routerLink]="['/']">
                  <img src="https://media.discordapp.net/attachments/1038098044660498452/1052647637565853918/logo2arancio.png" alt="logo" style="max-width: 200px;">
              </a>
          </div>
          <h1 class="card-title mb-4">Effettua il log-in</h1>
          <form #form="ngForm" (ngSubmit)="login(form)">
              <div class="form-group form-floating my-3">
                  <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com" required ngModel>
                  <label for="email"><i class="bi bi-envelope"></i> Email</label>
              </div>
              <div class="form-group form-floating my-3">
                  <input name="password" type="password" class="form-control" id="password" placeholder="password" required ngModel>
                  <label for="password"><i class="bi bi-key"></i> Password</label>
              </div>
              <button type="submit" [disabled]="form.invalid" class="btn btn-danger px-5 my-4">Login</button>
          </form>
          <p class="text-danger">{{ errorMessage }}</p>
      </div>
      <p class="">Non sei registrato? <a class="text-danger text-decoration-none" [routerLink]="['/register']">Registrati</a></p>
  </div>
</div>
