a {
  text-decoration: none;
  color: #2e2e2e;
}

a:hover {
  color: #F96E46;
}

img {
  transition: all 0.5s ease-out;

  &:hover {
    filter: grayscale(90%);
  }
}

@media screen and (max-width: 991px) {
  #cardSmall {
      display: none;
  }
}

@media screen and (min-width: 991px) {
  #cardLarge {
      display: none;
  }
}
